/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Fondo oscuro y texto claro */
body {
    background-color: #121212;
    color: #EAEAEA;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

/* Encabezado principal */
h1 {
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

input {
    padding: 10px;
    font-size: 1rem;
    width: 250px;
    border: 2px solid #444;
    border-radius: 8px;
    background-color: #1E1E1E;
    color: #EAEAEA;
}

input::placeholder {
    color: #AAA;
}

button {
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #FFF;
    background-color: #FF4500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF6347;
}

/* Mensajes y enlaces */
h2 {
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: center;
}

h3 {
    font-size: 1.3rem;
    margin-top: 20px;
    color: #FFFFFF;
}

/* Enlace de descarga */
#download-link a {
    color: #FF4500;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#download-link a:hover {
    color: #FF6347;
}

/* Estilo para el pie de página creativo */
footer {
    position: absolute;
    bottom: 20px;
    font-size: 0.8rem;
    color: #888;
    text-align: center;
}

footer a {
    color: #FF4500;
    text-decoration: none;
}

footer a:hover {
    color: #FF6347;
}
